name: Lint

on:
  push:
    branches:
      - main
      - loop
  pull_request:

permissions:
  contents: read

jobs:
  pre-commit:
    name: pre-commit-hooks
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-python@v5
        with:
          python-version: "3.11"
      - uses: pre-commit/action@v3.0.1
        with:
          args: --all-files
